*{
  
}
body{
  background: linear-gradient(to right, rgb(0, 128, 128) 0%, rgb(7, 27, 82)100%);
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-title{
  margin: 75px 0 50px 0;
  font-size: 3rem;
  color: #0ccac4;
  font-family: 'Kablammo', cursive;
}